<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/script.js"></script>
    <script src="js/validacao.js"></script>

    <title> Cadastrar </title>
</head>

<body>

    <div class="img-login">
        <img src="img/cadastrar.png" alt="astronauta com um laptop" class="imagem-cadastro">
    </div>
    <section id="cadastrar">
        <div class="formulario">
            <h1> Cadastro</h1>
            <form method="post" action="/register" th:object="${registerRequest}">
                <input type="text" id="nome" name="nome" placeholder="Nome" class="nome" required>

                <input type="text" id="usuario" name="login" placeholder="Nome de usuário" class="nome" required>

                <input type="text" name="email" placeholder="Email" class="email" required>

                <input type="password" id="senha" name="password" minlength="6" placeholder="Senha" class="senha"
                    required>

                <input type="password" id="confirmaSenha" minlength="6" placeholder="Repetir a senha"
                    class="senha" required>
                <div class="signed">
                    <span>
                        Já tem cadastro?
                    </span>
                    <span>
                        <a href="/login">Entre</a>
                    </span>
                </div>
                
                <div class="buttons">
                <div class="btn">
                    <input type="submit" name="sign-in" class="entrar" id="btn-cadastro" onclick="verificar()" value="Cadastrar">
                </div>
            </div>
            </form>

            

        </div>

    </section>
    <footer class="rodape">
        <img src="img/logo-livronauta.png" alt="logo do site no rodapé " class="logo-rodape">
    </footer>

</body>

</html>