<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/script.js"></script>
    <title> Página inicial</title>
</head>
<body id="erro">

    <section class="erro">
        <img src="img/icone-erro.png" class="imagem-erro" alt="erro">
        <h1> Ooops! Parece que você está perdido no espaço!  </h1>

        <div class="botao-erro">
            <a href="login" class="btn-erro"> Voltar ao login</a>
            <a href="register" class="btn-erro"> Cadastrar-se</a> 
        </div>
       
       
    </section>
   

      
            
    
</body>
</html>